.wrapper {
  width: 100%;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slideshow {
  width: 50%;
  height: 70%;
  position: relative;
}

.imageContainer {
  width: 100%;
  height: 90%;
  background-color: blue;
}

.controlsContainer {
  width: 100%;
  height: 10%;
  background-color: tomato;
}